<footer id="footer">
<a class="anchor" id="fo"></a>
	<link rel="stylesheet" href="assets/css/fontawesome_all.css"/>
	<link rel="stylesheet" href="assets/css/academicons.min.css"/>
	<!-- <div class="container">
		<ul class="icons">
			<li>
					<a target="_blank" rel="noopener noreferrer"href="mailto:MAILADDRESS"><i class="far fa-envelope fa-sm"></i> e-mail</a><br>
			</li>
			<li>
					<a target="_blank" rel="noopener noreferrer"href="https://youtube.com/CHANNEL"><i class="fab fa-youtube fa-sm"></i> Youtube</a><br>
			</li>
		</ul>
		<ul class="copyright">
			<li>
				<a target="_blank" rel="noopener noreferrer"href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">
					<i class="fab fa-creative-commons fa-lg"></i>
					<i class="fab fa-creative-commons-by fa-lg"></i>
					<i class="fab fa-creative-commons-nc fa-lg"></i>
					<i class="fab fa-creative-commons-sa fa-lg"></i>
				</a>
			</li>
		</ul>
	</div> -->
</footer>
