<!DOCTYPE HTML>

<html>
	<head>

		<!--  Google analytics here-->

		<title>Homepage von Danie_a Mül_er</title>
		<meta name="description" content="Danie_a Mül_er, Geigerin. Biographie, Konzerte, Repertoire" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>

	<body class="landing">

		<!-- Header -->
		{% include header.html %}

		<!-- Banner -->
		<section id="banner">
			{{ content }}
			<!-- <section id="section_scrolldown" class="scrolldown">
		  <a href="#fo"><span></span></a>
			</section> -->
		</section>

		<!-- Footer -->
		{% include footer.html %}

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/scroll.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

	</body>
</html>
